@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap?family=Playfair+Display:wght@500&display=swap');
*{
  font-family: 'Josefin Sans', sans-serif;
  cursor:none;
}
html {
  scroll-behavior: smooth;
}
.cursor{
  background-color: white;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  
}